*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body{
    height: 100%;
    width: 100%;
    background-color: #f4f1ea;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 95%;
    height: 92vh;

    display: flex;

    position: relative;

    border-radius: 20px;
    overflow: hidden;
}



.box1{
    width: 60%;
    height: 100%;

    background-color: #f7c600;

    padding: 30px;

    position: relative;
}



.box2{
    width: 40%;
    height: 100%;

    background-color: #f8e9c9;

    position: relative;
}



.logo{
    width: 120px;
}



.content{
    margin-top: 60px;
}

.content h5{
    font-size: 14px;
    letter-spacing: 4px;
    margin-bottom: 20px;
}

.content h1{
    font-size: 90px;
    font-weight: 800;
    line-height: 1;
    margin-bottom: 25px;
}

.content p{
    width: 350px;
    font-size: 16px;
    line-height: 28px;
    color: #222;
}

.count{
    margin-top: 40px;
    font-size: 20px;
    font-weight: 600;
}



.image{
    position: absolute;

    top: 50%;
    left: 57%;

    transform: translate(-50%, -50%);

    z-index: 10;
}

.image img{
    width: 520px;

    background: transparent;
    mix-blend-mode: multiply;
}



.hamburger{
    position: absolute;

    top: 30px;
    right: 30px;

    font-size: 35px;
    font-weight: 200;

    cursor: pointer;
}



.dots{
    position: absolute;

    right: 35px;
    top: 50%;

    transform: translateY(-50%);

    display: flex;
    flex-direction: column;
    gap: 12px;
}

.dots span{
    width: 8px;
    height: 8px;

    background-color: #f7c600;

    border-radius: 50%;
}


.ball{
    position: absolute;

    bottom: -40px;
    left: -40px;

    width: 180px;

    opacity: 0.15;
}